/* 
### Primary

- Lime Green: hsl(163, 72%, 41%)
- Bright Red: hsl(356, 69%, 56%)

- Facebook: hsl(208, 92%, 53%)
- Twitter: hsl(203, 89%, 53%)
- Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%)
- YouTube: hsl(348, 97%, 39%)

#### Dark Theme

- Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%)

#### Light Theme

- Toggle: hsl(230, 22%, 74%)

### Neutral

#### Dark Theme

- Very Dark Blue (BG): hsl(230, 17%, 14%)
- Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%)
- Dark Desaturated Blue (Card BG): hsl(228, 28%, 20%)
- Desaturated Blue (Text): hsl(228, 34%, 66%)
- White (Text): hsl(0, 0%, 100%)

#### Light Theme

- Light Grayish Blue (Card BG): hsl(227, 47%, 96%)
- Dark Grayish Blue (Text): hsl(228, 12%, 44%)
- Very Dark Blue (Text): hsl(230, 17%, 14%) 
*/

/* 
TO DO:

Border radius for background gradient
Dark mode theme toggle 
Centered on page? 
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  background-image: linear-gradient(
    to bottom,
    hsl(225, 100%, 98%) 18%,
    hsl(0, 0%, 100%) 18%
  );
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: 0.9em/1.5;
  font-family: "Inter", sans-serif;
}

.wrapper {
  width: 90%;
  outline: 1px solid;
}

.header {
  margin-bottom: 3rem;
}

.title {
  margin-bottom: 0;
  font-size: 1.6rem;
  letter-spacing: 0.02ch;
}

.total-followers {
  margin-top: 0.5rem;
  color: hsl(228, 12%, 44%);
  font-size: 0.9rem;
  letter-spacing: 0.1ch;
}

.hr {
  height: 1px;
  margin: 1.5rem 0 1.3rem;
  border: 0;
  background: #333;
}

.header__theme-switcher-container {
  display: flex;
  justify-content: space-between;
}

.label-dark-mode {
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(228, 12%, 44%);
}
/* ===================
      ELEMENT STATE 
====================== */
